@import "tailwindcss";

/* Leaflet Popup Styling Customization */
.leaflet-popup-content-wrapper {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.leaflet-popup-tip {
  background: #ffffff;
}

.leaflet-popup-content {
  margin: 10px 12px;
}

.custom-map-pin {
  background: transparent;
  border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
